body {
  padding-top: 30px;
}
.starter-template {
  padding: 15px 15px;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #dddddd;
}

body > .container {
  padding: 20px 15px 0;
}
.container .text-muted {
  margin: 10px 0;
  /*text-align: center;*/
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
